body {
    background-color: rgb(247, 246, 244);
}

.frontpage {
    margin: 0;
}

.frontpage_title_div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frontpage_title {
    margin: 0;
    font-size: 1.4em;
}

.login_button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.login_form {
    border: 5px solid #E07C1F;
    border-radius: 20px;
    box-shadow: 0px 5px 5px #5e5c5c44;
    position: absolute;
    right: 20px;
    top: 70px;
    width: 180px;
    height: 250px;
}